DATABASE_URL="<dbms name>://<username>:<password>@<host>:<port>/<database>"

# Replace <dbms name> with the name of the database management system you are using (e.g. postgresql, mysql, sqlite, sqlserver, mongodb, cockroachdb)
# AWS example
# DATABASE_URL="mysql://admin:securepassword@production-host.amazonaws.com:5432/proddb?schema=public"